{% extends 'catalog/base.html' %}

{% block content %}
    <h1>{{ object.name }}</h1>
    
    {% if object.image %}
        <img src="{{ object.image.url }}" alt="{{ object.name }}" width="300">
    {% else %}
        <p>Изображение отсутствует</p>
    {% endif %}

    <p>{{ object.description }}</p>
    <p><strong>Цена:</strong> {{ object.price }} руб.</p>
    <p><strong>Категория:</strong> {{ object.category.name }}</p>
    
    <hr>
    <p><em>Дата создания: {{ object.created_at|date:"d.m.Y H:i" }}</em></p>
    <p><em>Дата последнего изменения: {{ object.updated_at|date:"d.m.Y H:i" }}</em></p>
{% endblock %}